{% extends "index.html" %}

{% block content %}

<div class="container-fluid vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
        <!-- Column 1 -->
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center twenty">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="logo">
            <h1>Bytaři</h1>
        </div>

        <!-- Column 2 -->
        <div class="col-md-6 eighty">
            <div class="form-outer">
                <form method="post" id="form">
                    <input type="text" class="input" placeholder="vstupní kód" name="kod", id="kod">
                    <input type="text" class="input" placeholder="jméno" name="jmeno", id="jmeno">
                    <input type="email" class="input" placeholder="email" name="email", id="email">
                    <button class="input-button" type="submit" id="button">Pokračovat</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}