.alertcolor-info {
    background-color: rgb(253, 235, 138  );
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
}
body{
    background-color: #A18F63 !important;
    font-family: 'Garet', sans-serif !important;
                                                
}

.twenty {
    height: 100vh;
}
.eighty{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-outer{
    width: 50%;
    background-color: #F1EBE5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    color: black;
    background-color: #F1EBE5;
    text-align: center;
}
.input-button {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    color: black;
    background-color: #F1EBE5;
    cursor: pointer;
}

.input:hover {
    background-color: white;
    text-align: center;
}
.input:hover::placeholder{
    color: gray;
}

.input-button:hover {
    background-color: white;
    color: gray
}

.input:focus {
    background-color: white;
}

.input:focus::placeholder{
    color: gray;
}

.input::placeholder {
    color: black;
    opacity: 1;
    text-align: center;
}

.navb {
    display: flex;
}
.navbar-item {
    padding: 1rem;
}
.navlink {
    color: black;
    text-decoration: none;
}

.custom-button{
    background-color: #F1EBE5;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-top: 1rem;
}

.custom-button:hover {
    background-color: white;
}

.custom-delete-button {
    background-color: #F1EBE5;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
.logo {
    width: 200px;
}

.clovek {
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.custom-delete-button:hover {
    background-color: white;
}


.terminy-wrapper{
    display: flex;
    justify-content: center;
}
.terminy {
    background-color: #F1EBE5;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;

}

.termin{
    background-color: #A18F63;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
}
.casove-okno{
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: darkblue
}

@media (max-width: 768px) {
    .twenty {
      height: auto !important; /* Allows height to adjust to fit content */
    }
    .eighty{
        height: 80% !important; /* Allows height to adjust to fit content */
        padding-top: 3rem;
        align-items: start;
    }
    .form-outer{
        width: 100%;
    }
  }